@import '../../../index.css';

.postsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--background-purple);
}

.postsLogo {
    text-align: center;
    font-size: 72px;
    font-family: 'Lobster', cursive;
    color: var(--background-purple);
    text-shadow: 0 0 3px var(--logo-blue), 0 0 3px var(--logo-blue), 0 0 3px var(--logo-blue), 0 0 3px var(--logo-blue);
}