@import url('../../../index.css');

.homePageContainer {
    grid-area: page;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content navbar";
    width: 100%;
    /* border-top: solid 2px var(--midnight-purple);
    border-right: solid 2px var(--midnight-purple); */
}

.homePageContent {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}