@import '../../../index.css';

.loginForm {
  color: var(--logo-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 20px;
}

.inputField {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px auto 20px auto;
}

.label {
  flex: 0 0 30%;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  color: var(--logo-blue);
  /* text-shadow: 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue); */

}

.input {
  flex: 1 0 20%;
  width: 100%;
  max-height: 60px;
  background: var(--lighter-blue);
  color: var(--background-purple);
  font-family: 'Lobster', cursive;
  padding: 10px;
  font-size: 42px;
  outline: none;
  border-radius: 5px;
}

.input::placeholder {
  color: var(--background-purple);
  opacity: .7;
}

.input:focus {
  border: solid 1.5px var(--electric-pink);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.signupSpan {
  font-weight: 250;
  font-size: 26px;
  font-family: 'Lobster', cursive;
  color: var(--electric-pink);
}

.signupSpan:hover {
  color: var(--neon-green);
}

.loginButton {
  padding: -10px;
  text-align: center;
  color: var(--background-purple);
  font-family: 'Lobster', cursive;
  text-shadow: 0 0 3px var(--logo-blue), 0 0 3px var(--logo-blue), 0 0 3px var(--logo-blue), 0 0 3px var(--logo-blue);
  text-decoration: none;
  border: none;
  font-size: 60px;
  line-height: 62px;
}

.loginButton:hover {
  cursor: pointer;
  text-shadow: 0 0 3px var(--electric-pink), 0 0 3px var(--electric-pink), 0 0 3px var(--electric-pink), 0 0 3px var(--electric-pink);
}

.cancelButton {
  font-family: 'DM Serif Display', serif !important;
  color: var(--lighter-blue);
  border: none;
  background: var(--background-purple);
  font-size: 28px;
  width: 30%;
  font-size: 20px;
}

.cancelButton:hover {
  color: var(--electric-pink);
  cursor: pointer;
}