.inputField {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.label {
  flex: 0 0 auto;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: var(--logo-blue);
  /* text-shadow: 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue); */
}

.input {
  flex: 1 0 20%;
  background: var(--lighter-blue);
  color: var(--background-purple);
  font-family: 'Lobster', cursive;
  padding: 10px;
  font-size: 48px;
  outline: none;
  border-radius: 5px;
}

.input::placeholder {
  color: var(--background-purple);
  opacity: .7;
}

.input:focus {
  border: solid 1.5px var(--electric-pink);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.submitButton {
  flex: 0 0 64px;
  text-align: center;
  color: var(--background-purple);
  font-family: 'Lobster', cursive;
  text-shadow: 0 0 3px var(--lighter-blue), 0 0 3px var(--lighter-blue), 0 0 3px var(--lighter-blue), 0 0 3px var(--lighter-blue);
  text-decoration: none;
  border: none;
  font-size: 60px;
}

.submitButton:hover {
  cursor: pointer;
  text-shadow: 0 0 3px var(--electric-pink), 0 0 3px var(--electric-pink), 0 0 3px var(--electric-pink), 0 0 3px var(--electric-pink);
}

.cancelButton {
  color: var(--lighter-blue);
  border: none;
  background: var(--background-purple);
  font-size: 28px;
  width: 30%;
  font-size: 20px;
}

.cancelButton:hover {
  color: var(--electric-pink);
  cursor: pointer;
}