.inputField {
  flex: 1 0 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.label {
  flex: 0 0 auto;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: var(--logo-blue);
  /* text-shadow: 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue), 0 0 1px var(--logo-blue); */

}

.textarea {
  flex: 1 0 auto;
  height: 400px;
  width: 100%;
  background: var(--lighter-blue);
  color: var(--background-purple);
  font-family: 'Lobster', cursive;
  padding: 10px;
  font-size: 24px;
  outline: none;
  border-radius: 5px;
}

.textarea::placeholder {
  color: var(--background-purple);
  opacity: .7;
}

.textarea:focus {
  border: solid 1.5px var(--electric-pink);
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}