.mainContainer {
  display: grid;
  background: #29012e;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px auto;
  /* width: 100vw;
  height: 100vh; */
  grid-template-areas: 
  "header header"
  "content navbar";
  margin: -8px -8px -8px -8px;
  font-family: 'DM Serif Display', serif;
}