@import '../../../index.css';

.linksContainer {
    font-size: 28px;
    flex: 0 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksList {
    flex: 10 auto;
    list-style: none !important;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}